.appoint-btns{
    width: 100%;
    .btn{
        margin-left: 0%;
        width: 100%;
        font-size: 48px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 9%;
}