:root{
    background-color: #D9D9D9;
}

.hero-container{
    
    height: 450px;
    width: 100%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    justify-content: space-between;
    object-fit: contain;
    background: url('./gambarhome/RedBullBanner.jpg') center center/cover no-repeat;
}

.hero-wrapper{

    width: 45%;
    margin-left: 10%;
  
}

.hero-wrapper-top{

    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


.hero-wrapper-top>h1{
    font-family: "Days One", sans-serif;
    color:#fff;
    font-weight: 400;
   
}

.hero-wrapper-top>p{

    color:#fff;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    text-align: justify;
    margin-top: 2%;
    margin-bottom: 5%;
}

.hero-wrapper-bottom{

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.hero-btns{
    color: #FF6C00;
    display: flex;
    margin-bottom: 0%;    
    width: 50%;
}

.hero-wrapper-bottom>img{
    display: flex;
    margin-left: 15%;

}

.hero-footer{
    width: 100%;
    height: 130px;
    background-color: #121F45;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-footer-wrapper{

    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50%;

}
.bestPrices,.guarantee,.certified{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.bestPrices-right>h1,.guarantee-right>h1,.certified-right>h1{
color: #fff;
font-family: Days One;
font-weight: 400;
font-size: 1rem;
}

.bestPrices-right>p,.guarantee-right>p,.certified-right>p{
    color: #fff;
    font-family: Inter;
    }

.bestPrices-left,.guarantee-left,.certified-left{
width: 30%;
 }
 .certified-left>img{
    margin-top: 2%;
    display: flex;
    align-items: center;
 }
 .guarantee-left>img{
    margin-left: 10%;
 }


@media screen and (max-width:1265px){
    .hero-container>h1{
        font-family: "Days One", sans-serif;
        color:#fff;
        font-size: 100px;
       
    }
    .hero-wrapper-bottom{
        flex-direction: column;
    }
    .hero-wrapper-bottom>img{
        margin-left: 0%;
    }
}

@media screen and (max-width:768px){
    .hero-container>h1{
        font-family: "Days One", sans-serif;
        font-size: 50px;
      
    }

    .hero-container>p{
        font-size: 30px;
    }

    .btn{
        
        width:100%;
    }

    .hero-footer-wrapper{
        flex-direction: column;
    }
    .bestPrices,.guarantee,.certified{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}


