:root{
    background-color: #D9D9D9;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.HistoryOngoing-container{
    margin-bottom: 10%;
}

.HistoryOngoing-wrapper{
    background-color: #FFFFFF;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    justify-content: center;
    height: 1000px;
}

.Title{
    margin-top: 10%;
}

.HistoryOngoing-margin{
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    
}

.HistoryOngoing-wrapper-top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content:center;
    height: 250px;
}

.HistoryOngoing-wrapper-top-margin{
    margin-top: 2%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: left;
    height: 130px;
}

.ongoing-btns,.completed-btns{
    .btn{
        background-color: transparent;
        color: black;
        border-color: transparent;
        margin-left: 0%;
        padding: 0px 0px;
    }
}

.ongoing-btns{
    margin-right: 10%;
}

.HistoryCard-container{
    margin-top: 5%;
    background-color: #D9D9D9;
}

.HistoryCard-wrapper{
    margin-left: 4%;
    background-color: #D9D9D9;
    align-items: center;
    height: 250px;
    display: flex;
    flex-direction: row;
}

.OrderDetails{
    margin-top: 4.5%;
    width: 70%;
    height: 100%;
    justify-content: space-between;
}

.OrderDetails-wrapper-top{
    justify-content: space-evenly;
}

.OrderDetails-wrapper-bottom{
    align-items: center;
    justify-content: center;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.StatusText{
    margin-top: 2%;
}

.price{
    width: 60%;
    display: flex;
    align-items: center;
}

.message-btns{
    width: 100%;
    .btn{
        background-color: #121F45;
        color: white;
        border-color: #121F45;
        margin-left: 0%;
        width: 100%;
        margin-bottom: 0%;
    }
    display: flex;
    align-items: center;
    justify-content: center;
}

.Title>h1,.HistoryOngoing-wrapper-top>h1,.OrderDetails-wrapper-top>h1,.StatusText>p,.price>p{
    font-family: "Days One", sans-serif;
}

