:root{
    background-color: #D9D9D9;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.PaymentDetails-container{
    margin-bottom: 10%;
}

.PaymentDetails-wrapper{
    background-color: #FFFFFF;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.PaymentDetails-wrapper-top{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    height: 130px;
}

.standard-btns,.premium-btns,.PayAtMerchant-btns{
    .btn{
        background-color: #D9D9D9;
        color: black;
        border-color: #D9D9D9;
        margin-left: 0%;
    }
}

.PaymentDetails-wrapper-middle{
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    height: auto;
}

.ServicePayment{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    height: 50px;
}

.MobileServiceCharge,.Subtotal,.Merchant{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    height: 50px;
}

.ServicePayment>p,.MobileServiceCharge>p,.Subtotal>p,.PaymentMethod>h1,.Merchant>p{
    font-family: "Days One", sans-serif;
}

.PaymentDetails-margin{
    padding: 7% 10%;
    align-items: center;
    
}

.PaymentDetails-wrapper-bottom{
    margin-top: 5%;
    display:flex;
    width: 100%;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    height: 200px;
}

.Merchant{
    height: 50px;
}

.PaymentMethod>h1{
    margin-top: 10%;
    font-size: 32px
}

.order-btns{
    width: 100%;
    .btn{
        margin-left: 0%;
        width: 100%;
    }
    display: flex;
    align-items: center;
    justify-content: center;
}


.paymentMethod-btn{
    background-color: var(--orange);
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;
    color: white;
    font-weight: 600;

}

.paymentMethod-btn:hover{
    background-color: var(--lightOrange);
}

.paymentMethod-img{
    width: 4.5%;
    height: 60%;
}

.debit-container{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.debit-img{
    width: 25%;
    height: 65%;
}